/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Utility */

body{
    max-width: 2160px;
    margin: auto;
}

.logo{
    height: 40px;
    width: auto;
}


/* Navbar */

.navbar{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60px;
}

.nav-left{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.nav-mid{
    grid-column-start: 2;
    grid-column-end: 4;
}

.nav-right {
    display: flex;
    align-items: center;
}

.ham-menu{
    display: none;
}

.nav-right > a{
    fill: white;
    margin-inline: auto;
    margin-right: 1rem;
}

.nav-mid > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 100%;
}

.nav-mid > ul > li > a{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    transition: color linear .25s;
}

.nav-mid > ul > li > a:hover{
    color: limegreen;
    transition: color linear .25s;
}

.nav-mid span{
    display: block;
    width: 0%;
    margin: auto;
    height: 2px;
    background: limegreen;
    transition: width linear .5s;
}

.nav-mid > ul > li > a:hover + span{
    width: 100%;
    transition: width linear .5s;
}

/* Article Home */

.article-list{
    max-width: 720px;
    margin-inline: auto;
}

.article-li{
    list-style: none;
    margin: 1rem;
    background-color: beige;
    padding-bottom: 0.5rem;
}

.thumbnail{
    width: 100%;
}

.article-li h2, .article-li p{
    text-align: center;
    margin-inline: 1rem;
    margin-bottom: 0.5rem;
}

.article-li a{
    text-decoration: none;
}

/* Article Detail */

.article-container{
    max-width: 1200px;
    margin: 2rem;
}

.article-title{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.article-meta{
    margin-bottom: 1rem;
}

.article-meta > div{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
    background: black;
    width: fit-content;
}

.breadcrumb *, .article-meta-published, .article-meta-author{
    text-decoration: none;
    color: white;
}

.breadcrumb a:hover{
    color: limegreen;
}

/* Media Queries */


@media (max-width: 768px){
    .navbar{
        grid-template-rows: 60px min-content;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }
    .nav-left{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        padding-left: 0;
    }
    .nav-right{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .nav-mid{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        background: inherit;
        z-index: 1;
        transition: top ease-in-out 1s;
        position: relative;
        top: calc( -100% - 60px);
    }
    .nav-left a{
        display: block;
        margin: auto;
    }
    .nav-mid ul {
        flex-direction: column;
        padding-block: 0.5rem;
    }
    .ham-menu {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 32px;
        height: 32px;
        margin-left: 1rem;
        background: black;
        outline: 0;
        border: 0;
        z-index: 2;
    }
    .ham-menu:hover{
        cursor: pointer;
    }
    .ham-menu svg {
        display: block;
        margin-inline: auto;
        fill:white;
    }
    #ham-close-svg{
        display: none;
    }
}
