<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all">
    <script defer src="{% static 'js/script.js' %}"></script>
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header class="navbar">
            <button class="ham-menu">
                {% include 'svg/menu-open.svg' %}
                {% include 'svg/menu-close.svg' %}
            </button>
        <div class="nav-left">
            <a href="">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
            </a>
        </div>
        <nav class="nav-mid">
            <ul>
                <li><a href="{% url 'article:home' %}">Home</a></li>
                <li><a href="">Blogs</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
        <div class="nav-right"><a href="">{% include 'svg/account.svg' %}</a></div>
    </header>
    {% block body %} {% endblock body %}
</body>
</html>
